#puzzle-area { 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
}

.peg {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  
  background-color: yellow;
  height: 250px;
  width: 250px;
}

.disk {
  background-color: blue;
}
